{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}{% include site/head.html %}

<style>

html, body {
  margin: 0; height: 100vh;
}

html {
  min-height: 100vh;
}

html, body {
  word-wrap: break-word;
  font-family: "ubuntu", sans-serif;
}

a:visited, .a:hover, a:focus, a {
  color: #44b3e2;
}

.meta.clearfix {
  overflow-x: hidden;
}

.communityWrapper {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  height: 42px;
}

@media (min-width: 1080px) {
  .communityWrapper {
  width: 1080px;
  }
}

@media screen and (max-width: 400px) {
  .oemWrap {
  display: none;
  }
}

.fa-navicon {
  display: none;
  cursor: pointer;
  font-size: 30px;
  line-height: 42px;
  position: absolute;
  left: 0;
  color: #ffffff;
  padding-left: 12px;
  z-index: 9997;
}

@media screen and (max-width: 1079px) {
  .fa-navicon {
  display: inline-block;
  }
}

.titleHolder {
  position: relative;
  top: 0;
  width: 100%;
  height: 42px;
  background-color: #44b3e2;
  overflow: hidden;
}

.thisTitle {
  position: relative;
  display: inline-block;
  color: #ffffff;
  left: 0;
  line-height: 42px;
  padding-right: 12px;
  padding-left: 0;
  font-size: 20px;
  text-align: right;
}

.thisTitle a {
  color: #ffffff;
}

@media screen and (min-width: 1080px) {
  .thisTitle {
  font-size: 16px;
  text-align: left;
  padding-right: 0;
  padding-left: 7px;
  }
}

@media screen and (max-width: 1079px) {
  .thisTitle {
  width: 100%;
}
.thisTitle a {
  padding-right: 12px;
  }
}

.navigation {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  margin-right: 6px;
  height: 42px;
  min-width: 750px;
  overflow: visible;
  padding-right: 7px;
  z-index: 20;
  box-sizing: content-box;
}

@media screen and (min-width: 1080px) {
  .navigation {
  position: relative;
  float: right;
  display: inline-block;
  margin: 0;
  }
}

.navigation ul {
  list-style-type: none;
  float: right;
  top: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
}

.navigation ul li {
  float: left;
  background-color: #44b3e2;
}

.navigation ul li a {
  display: block;
  line-height: 42px;
  font-family:"ubuntu";
  font-size: 16px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
}

.menuFreeze {
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1079px) {
  .navigation {
      position: fixed;
      display: none;
      top: 0;
      left: 0;
      height: 100vh;
      margin: 0;
      width: 0;
      font-size: 20px;
      background-color: #44b3e2;
      color: #ffffff;
      z-index: 9999;
      box-sizing: border-box;
      overflow: auto;
      min-width: 0;
      padding-right: 0;
  }
  
  .navigation ul {
      list-style-type: none;
      margin: 0;
      padding-top: 0;
  }
  
  .navigation ul li a {
      box-sizing: border-box;
      font-family: "ubuntu";
      font-size: 20px;
      display: block;
      color: #ffffff;
      padding: 0 20px 0 40px;
      min-width: 220px;
      text-align: left;
      height: 12.5vh;
      line-height: 12.5vh;
  }
  
  .navigation ul li .fa {
      min-width: 25px;
  }
}


@media screen and (min-width: 1080px) {
  .navigation ul li:nth-child(1) {
    width: 82px;
  }
  .navigation ul li:nth-child(2) {
    width: 81px;
  }
  .navigation ul li:nth-child(3) {
    width: 85px;
  }
  .navigation ul li:nth-child(4) {
    width: 113px;
  }
  .navigation ul li:nth-child(5) {
    width: 123px;
  }
  .navigation ul li:nth-child(6) {
    width: 73px;
  }
  .navigation ul li:nth-child(7) {
    width: 75px;
  }
  .navigation ul li:nth-child(8) {
    width: 87px;
  }
}

.blackOut {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  overflow: hidden;
  cursor: pointer;
  z-index:9998;
}

.actoemLink {
  background-color: #368fb4 !important;
}

.actoemLink a {
  color: #ffffff !important;
}

.searchBox {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  display: none;
  cursor: pointer;
  z-index: 9999999999999;
}

.searchBox form {
  margin: auto;
}

.searchBox input[type=submit] {
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background-color: #44b3e2;
  color: #fff;
  border: none;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
}

.searchBox input[type=submit]:hover {
  background-color: #77c8ea;
}

.searchBox input[type=text] {
  padding: 10px;
  font-size: 20px;
  border: none;
}

.searchText {
  width: 0;
}

.searchIcon {
  cursor: pointer;
}

</style>

<body {% if page.body_id %} id="{{ page.body_id }}"{% endif %}>

{% if page.hero_unit %}
  {% include site/hero_unit.html %}
{% endif %}


<div class="titleHolder">
  <div class="communityWrapper">
    <i class="fa fa-navicon"></i>
    <div class="thisTitle">
      <a href="/">
        <strong>Blog</strong>
        <span class="oemWrap">
        | Open<strong>EnergyMonitor</strong>
        </span>
      </a>
    </div>
    <div id="siteLinks" class="navigation">
      <ul>
        <li title="the homepage of OpenEnergyMonitor">
          <a href="https://openenergymonitor.org">
            <i class="fa fa-home" aria-hidden="true"></i><span class="navname">&nbsp;Home</span>
          </a>
        </li>
        <li title="a user guide for the OpenEnergyMonitor system">
          <a href="https://guide.openenergymonitor.org">
            <i class="fa fa-book" aria-hidden="true"></i><span class="navname">&nbsp;Guide</span>
          </a>
        </li>
        <li title="general information about energy monitoring, diversion and sustainability">
          <a href="https://learn.openenergymonitor.org">
            <i class="fa fa-mortar-board" aria-hidden="true"></i><span class="navname">&nbsp;Learn</span>
          </a>
        </li>
        <li title="a definitive list of resources for OpenEnergyMonitor hardware">
          <a href="https://guide.openenergymonitor.org/technical/resources/">
            <i class="fa fa-list-alt" aria-hidden="true"></i><span class="navname">&nbsp;Resources</span>
          </a>
        </li>
        <li title="the openenergymonitor forum">
          <a href="https://community.openenergymonitor.org">
            <i class="fa fa-comments" aria-hidden="true"></i><span class="navname">&nbsp;Community</span>
          </a>
        </li>
        <li title="you are here: keep up with new developments at OpenEnergyMonitor" class="actoemLink">
          <a href="https://blog.openenergymonitor.org">
            <i class="fa fa-bullhorn" aria-hidden="true"></i><span class="navname">&nbsp;Blog</span>
          </a>
        </li>
        <li title="the official OpenEnergyMonitor online store">
          <a href="https://shop.openenergymonitor.com">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i><span class="navname">&nbsp;Shop</span>
          </a>
        </li>
				<li title="search for something on OpenEnergyMonitor">
					<a class="searchIcon">
					    <i aria-hidden="true" class="fa fa-search"></i><span class="navname">&nbsp;Search</span>
				  </a>
				</li>
      </ul>
    </div>
  </div>
</div>
<div class="searchBox">
  <form target="_blank" id="searchform" action="https://www.google.com/cse">
    <div>
      <input type="hidden" name="cx" value="006198118389747886812:_nmxikw563w" />
      <input type="hidden" name="ie" value="UTF-8" />
      <input type="text" class="searchText" value="" name="q" id="q" autocomplete="off" />
      <input type="submit" id="searchsubmit" name="sa" value="Search" />
    </div>
  </form>
</div>
<div class="blackOut"></div>
<div style="position:relative;width:100%;top:0;height:20px"></div>

{% include javascripts/scripts.html %}

<script>

var closeStatus = false;

function openButton() {
  $("html, body").addClass("menuFreeze");
  $(".blackOut").show();
  $(".navigation").show();
  $(".navigation").animate({ width:'220' },"0.5s");
}

$(".fa-navicon").click(function() {
  openButton();
  closeStatus = true;
});

function closeButton() {
  $("html, body").removeClass("menuFreeze");
  $(".blackOut").hide();
  $(".navigation").animate({ width:'0' },"0.5s");
}

$(".blackOut").click(function() {
  closeButton();
  closeStatus = false;
});

$(document).ready(function(){
  $("table").wrap("<div style='max-width:100%;overflow-x:auto'></div>");
});

$(window).resize(function(){
  if ($(window).width() > 1079 && closeStatus == true) {
    if (!$("html").hasClass("mobile-device")) {
      closeButton();
      closeStatus = false;
    }
  }
});

$(".searchIcon").click(function() {
   $(".searchBox").css("display","flex");
   $(".searchText").animate({width: "200px"});
   $(".searchText").focus();
   $("html, body").addClass("menuFreeze");
});
$(".searchBox").click(function() {
   $(".searchBox").css("display","none");
   $(".searchText").blur();
   $(".searchText").css("width","0");
   closeButton();
});
$(".searchBox form").click( function(event) {
   event.stopPropagation();
});

</script>

<div class="grid-wrapper">
  <div class="grid grid-center">
    {% if page.is_post and page.sidebar == false %}
    <div class="grid__item four-fifths lap-one-whole palm-one-whole">
    {% elsif page.is_homepage %}
    <div class="grid__item one-whole">
    {% else %}
    <div class="grid__item two-thirds lap-one-whole palm-one-whole">
    {% endif %}

      {{ content }}

    </div>

    {% unless page.sidebar == false %}
    <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
      {% include site/sidebar.html %}
    </aside>
    {% endunless %}
  </div>
</div>

<footer>
  {% include site/footer.html %}
</footer>

<!--[if lt IE 7]>
  <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

</body>
</html>
